@page "/Clients"
@inject IClientService ClientService
@inject NavigationManager NavigationManager
@using ClientsBlazor.Client.Shared

<h3>Clients</h3>

@*<table class="table">
    <thead>
         <tr>
            <th>Aritst Name</th>
            <th>Track Name</th>
            <th>Instagram Contact</th>
            <th>Number of Orders</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in ClientService.Clients)
        {
            <tr>
                <td>@client.Name</td>
                <td>@client.SongName</td>
                <td>@client.Instagram</td>
                <td>@client.Orders</td>
                <td>
                    <button class="btn btn-primary"
                        @onclick="(() => ShowClient(client.Id))">
                        <i class="oi oi-pencil"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<button class="btn btn-primary" @onclick="CreateNewClient">
    Create New Client
</button>*@

<RadzenDataGrid Data="@ClientService.Clients" TItem="ClientsBlazor.Shared.Klient" AllowSorting="true" AllowFiltering="true" AllowColumnResize="true" AllowPaging="true" PageSize="5">
    <Columns>

        <RadzenDataGridColumn TItem="ClientsBlazor.Shared.Klient" Property="Name" Title ="Name"></RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="ClientsBlazor.Shared.Klient" Property="SongName" Title="Song Name"></RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="ClientsBlazor.Shared.Klient" Property="Instagram" Title="Instagram"></RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="ClientsBlazor.Shared.Klient" Property="Orders" Title="Number of orders"></RadzenDataGridColumn>
       
    </Columns>
</RadzenDataGrid>
<button class="btn btn-primary" @onclick="CreateNewClient">
    Create New Client
</button>


@code {


    IEnumerable<ClientsBlazor.Shared.Klient>? clients;

    protected override async Task OnInitializedAsync()
    {
        await ClientService.GetAllClients();
    }

    void ShowClient(int id)
    {
        NavigationManager.NavigateTo($"client/{id}");
    }

    void CreateNewClient()
    {
        NavigationManager.NavigateTo("/client");
    }
}
